In [2]:
import pandas as pd 
import numpy as np

In [12]:
url = 'Data/ukpopestimatesmid2021on2021geographyfinal.xls'
df = pd.read_excel(url, sheet_name='MYE2 - Persons', usecols='A:CQ', skiprows=range(0, 7), nrows=428-7)

df_melted = df.melt(id_vars=['Code', 'Name', 'Geography', 'All ages'], value_vars=list(map(str, range(0, 90))) + ['90+'], 
                    var_name='Age', value_name='Population')

In [17]:
shapefilela = pd.read_csv("Data/Middle_Layer_Super_Output_Areas_(Dec_2021)_Boundaries_Full_Clipped_EW_(BFC).csv")

df_joined = df_melted.merge(shapefilela, how="left", left_on="Code", right_on="MSOA21CD")

df_joined

,Code,Name,Geography,All ages,Age,Population,OBJECTID,MSOA21CD,MSOA21NM,GlobalID,Shape__Area,Shape__Length
0,K02000001,UNITED KINGDOM,Country,67026292,0,675477,NaN,NaN,NaN,NaN,NaN,NaN
1,K03000001,GREAT BRITAIN,Country,65121729,0,654213,NaN,NaN,NaN,NaN,NaN,NaN
2,K04000001,ENGLAND AND WALES,Country,59641829,0,607431,NaN,NaN,NaN,NaN,NaN,NaN
3,E92000001,ENGLAND,Country,56536419,0,579315,NaN,NaN,NaN,NaN,NaN,NaN
4,E12000001,NORTH EAST,Region,2646772,0,24852,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
38215,N09000006,Fermanagh and Omagh,Local Government District,116926,90+,886,NaN,NaN,NaN,NaN,NaN,NaN
38216,N09000007,Lisburn and Castlereagh,Local Government District,149272,90+,1159,NaN,NaN,NaN,NaN,NaN,NaN
38217,N09000008,Mid and East Antrim,Local Government District,139127,90+,1164,NaN,NaN,NaN,NaN,NaN,NaN
38218,N09000009,Mid Ulster,Local Government District,150598,90+,946,NaN,NaN,NaN,NaN,NaN,NaN
38219,N09000010,"Newry, Mourne and Down",Local Government District,182345,90+,1204,NaN,NaN,NaN,NaN,NaN,NaN